.dock {
    display: flex;
    position: absolute;
    z-index: 1001;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(94, 94, 94, 0.163);
    padding-inline: 1rem;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(154, 154, 154, 0.479);
    border-radius: 0.75rem;
    
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 3rem;
        border-radius: 1rem;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .icons {
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
    }

    .github, .cli {
        background-color: black;
    }
    .notes {
        background: linear-gradient(to bottom, rgb(255, 200, 0), rgb(255, 174, 0));
    }
    .pdf {
        background: linear-gradient(to bottom, rgb(255, 0, 0), rgba(201, 0, 0, 0.696));
    }
    .mail {
        background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
    }
    .spotify {
        background: linear-gradient(to bottom, rgb(0, 246, 0), rgb(0, 158, 0));
    }
    .calendar {
        img {
            width: 2.8rem;
        }
        background-color: rgb(245, 245, 245);
    }
    .link {
        
        img {
            width: 2.3rem;
        }
        background: linear-gradient(to bottom, rgb(56, 56, 56), rgb(0, 0, 0));
    }

    .icons:hover .icon{
        scale: 1.35;
        transform: translateY(-35%);
    }
    .icons:hover + .icons .icon, .icons:has( + .icons:hover) .icon {
        scale: 1.15;
        transform: translateY(-15%);
    }
}